tensorflow==2.16.1
ipython~=8.18.1   # Compatible version for Python 3.9
keras==3.6.0
numpy==1.26.4
scikit-learn~=1.5.2
matplotlib==3.9.2
wandb~=0.18.7
imageio~=2.36.0
kagglehub~=0.3.4
scipy~=1.11.3    # Latest compatible version for Python 3.9
opencv-python
gdown
tensorflow-docs @ git+https://github.com/tensorflow/docs